html, body {
  height: 100%;
  width: 100%;
}
.settDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  border:1px solid darkgray;
  background-color: #F2F2F2;
  width: 630px;
  height: 70px;
  padding: 10px;
  margin-top: 20px;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 210px);
  grid-template-columns: repeat(3, 210px);
}

.container div {
  display:flex;
  justify-content: center;
  align-items:center;
}

img {
  width: 200px;
  height: 200px;
}

table {
  width: 200px;
  height: 200px;
  border-collapse: collapse;
  border: 1px solid grey;
}

.viewDiv{
  display: flex;
  flex-direction: column;
  align-items : center;
}

td {
  text-align: center;
}

.purple td{
  font-size:34px;
  font-weight: bolder;
  color: purple;
}

#mainTb td {
  border: 1px solid grey;
}


.rot90 {
  transition: all ease 0.5s;
  transform: rotate(90deg);
}

.rot180 {
  transition: all ease 0.5s;
  transform: rotate(180deg);
}

.rot270 {
  transition: all ease 0.5s;
  transform: rotate(270deg);
}

.rot360 {
  transition: all ease 0.5s;
  transform: rotate(360deg);
}

.bomb{
  background-color: purple;
}

button.hide{
  display:none;
}

.userPos {
  background-color: lightgreen;
}

.fail{
  background-color: red;
}

button{
  font-size: 25px;
}

.white td{
  color: white;
}

select, option {
  font-size: 16px;
}
